@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    overflow-y: scroll;
    color: rgb(181, 187, 187);
    font-family: "DM Sans", sans-serif;
}

h1,
h2 {
    position: relative;
    margin: 0;
    /* left: 4rem; */
    color: rgb(210, 213, 213);
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.header {
    padding: 30px 0px 20px 4rem;
}

.title {
    width: fit-content;

}

.typing {
    font-family: "Courier New";
    font-size: 28px;
    position: absolute;
    left: 32.5rem;
    display: inline-block;
    white-space: nowrap;
    border-right: .15em solid rgb(0, 242, 255);
    margin: 0 auto;
    overflow: hidden;
    animation: blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: var(--chars);
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(0, 242, 255);
    }
}

.blurb {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.blurb p {
    color: #c5e5e4;
    width: 50rem;
    margin-top: 3rem;
}

.bold {
    font-weight: 800;
}

